@import '../../../../../node_modules/@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

.eventsList {
  .container{
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .eventData{
    width: 160px;
    height: 120px;
    display: inline-block;
    margin: 0 auto;
    margin-right: 10px;
    background-color: #f0d070;
  }

  .dateDiv{
   margin: 0 auto;
  }

  .date{
    color: black;
    font-size: 14px;
    margin-left: 5px;
    //font-family: 'Agency FB',sans-serif;
    font-family: 'Montserrat', sans-serif;
  }

  .dataLocSubj{
    margin: 0 auto;
    margin-left: 8px;
  }

  .location{
    font-size: 13px;
    color: black;
    font-family: 'Tahoma',sans-serif;
    font-weight: lighter;
  }
  .subject{
    font-size: 18px;
    color: black;
    font-family: 'Tahoma',sans-serif;
    font-weight: bold;
  }
}
